[Unit]
Description=mediawiki-containers
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
WorkingDirectory=/usr/local/src/mediawiki-containers
ExecStart=/usr/local/src/mediawiki-containers/mediawiki-containers start
ExecStop=/usr/local/src/mediawiki-containers/mediawiki-containers stop

[Install]
WantedBy=multi-user.target
