[Unit]
Description=mediawiki-containers
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStart=/usr/local/src/mediawiki-containers/mediawiki start
ExecStop=/usr/local/src/mediawiki-containers/mediawiki stop

[Install]
WantedBy=multi-user.target
